[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylama = "*"
yamllint = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
mypy = "*"
testinfra = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
