---
# Bump version (semver) on merges to master based on commit messages.
# Supported commit messages:
#   '#major': 1.0.0
#   '#minor': 0.1.0
#   '#patch': 0.0.1

name: Bump version
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # checkout@v2 fetches only latest commit by default, '0'-> all
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.19.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: false  # e.g. 0.1.0
