---
# Lint, build and test Dockerfiles
name: Build
on:  # yamllint disable-line rule:truthy
  push:
    paths:
      - '**/Dockerfile'  # run on any change to a Dockerfile anywhere in repo
      - '**/docker-test.yml'  # also re-run on changes to CI

env:
  DOCKER_IMAGE: jameswilliams1/python-webdriver
  DOCKER_BUILDKIT: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          - '3.7'
        DISTRO:
          - slim-buster
        BROWSER:  # all, chrome, firefox
          - all
    env:
      DOCKER_TAG: ${{ matrix.PYTHON }}-${{ matrix.DISTRO }}-${{ matrix.BROWSER }}
      DOCKERFILE: "./${{ matrix.PYTHON }}/${{ matrix.DISTRO }}/\
      ${{ matrix.BROWSER }}/Dockerfile"
    steps:
      - uses: actions/checkout@v2
      - name: Lint ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }} with hadolint
        uses: docker://hadolint/hadolint:latest-debian
        with:
          entrypoint: hadolint
          # Ignore 'pin versions in apt get install'
          args: '--ignore DL3008 ${{ DOCKERFILE }}'

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          - '3.7'
        DISTRO:
          - slim-buster
        BROWSER:  # all, chrome, firefox
          - all
    env:  # final image name with version tag
      DOCKER_TAG: ${{ matrix.PYTHON }}-${{ matrix.DISTRO }}-${{ matrix.BROWSER }}
      DOCKERFILE: "./${{ matrix.PYTHON }}/${{ matrix.DISTRO }}/\
      ${{ matrix.BROWSER }}/Dockerfile"
    steps:
      - uses: actions/checkout@v2
      - name: Build ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
        run: >-
          docker build --no-cache --pull
          --tag ${DOCKER_IMAGE}:${DOCKER_TAG}
          --file ${{ DOCKERFILE }} .
      - name: Check the image runs
        run: >-
          docker run -t --rm ${DOCKER_IMAGE}:${DOCKER_TAG}
          google-chrome --version
          && chromedriver --version
          && firefox --version
          && geckodriver --version
