---
name: Build
on: push  # yamllint disable-line rule:truthy

env:
  DOCKER_IMAGE: jameswilliams1/python-webdriver
  DOCKER_BUILDKIT: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          - '3.7'
        DISTRO:
          - slim-buster
        BROWSER:  # all, chrome, firefox
          - all
    env:  # final image name with version tag
      DOCKER_TAG: ${{ env.DOCKER_IMAGE }}:${{ matrix.PYTHON }}-${{ matrix.DISTRO }}-${{ matrix.BROWSER }}
    steps:
      - uses: actions/checkout@v2
      - name: Lint ${{ env.DOCKER_TAG }} with hadolint
        uses: docker://hadolint/hadolint:latest-debian
        with:
          entrypoint: hadolint
          args: --ignore DL3008 Dockerfile  # Pin versions in apt get install.
          # args: --ignore DL3008 ./${{ matrix.PYTHON }}/${{ matrix.DISTRO }}/${{ matrix.BROWSER }}/Dockerfile  TODO

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          - '3.7'
        DISTRO:
          - slim-buster
        BROWSER:  # all, chrome, firefox
          - all
    env:  # final image name with version tag
      DOCKER_TAG: ${{ env.DOCKER_IMAGE }}:${{ matrix.PYTHON }}-${{ matrix.DISTRO }}-${{ matrix.BROWSER }}
    steps:
      - uses: actions/checkout@v2
      - name: Build ${{ env.DOCKER_TAG }}
        run: docker build --no-cache --pull --tag ${DOCKER_TAG} .
      - name: Check the image runs
        run: >-
          docker run -t --rm ${DOCKER_TAG}
          google-chrome --version
          && chromedriver --version
          && firefox --version
          && geckodriver --version
